@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
    --background-color-1: #d8ccbe;
    --background-color-2: #292e33;
    --background-color-3: #fff;
    --background-color-4: #333333;

    --text-color-1: #111111;
    --text-color-2: #60574c;
    --text-color-3: #8e7f6e;
    --text-color-4: #fff;
    --text-color-5: #808080;
    --text-color-6-hover: #ec3a42; 

    --font-family-1: "Roboto", sans-serif;
    --font-family-2: Montserrat, sans-serif;
    --font-family-3: 'PT Sans', sans-serif;
    --font-family-4: 'Playfair Display', serif;

    --outer-padding: 60px 10vw;
}
html {
    font-family: "Roboto", sans-serif;
}

.freepik {
    color: var(--text-color-1);
    text-decoration: none;
    border-bottom: 1px solid var(--text-color-1);
}

        /* fixed top menu */

.disclaimer {
    background-color: var(--background-color-1);
    color: var(--text-color-2);
    border-bottom: 1px solid var(--background-color-2);
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0%;
    animation: 4s fade_out;
    transition: ease 0.2s;
}
@keyframes fade_out {
    10% {
        opacity: 100%;
    }
    85% {
        opacity: 100%;
    }
}
.disclaimer:hover {
    opacity: 100%;
    transition: ease 0.35s;
}
.disclaimer a {
    color: #333333;
}
.top_menu {
    width: 100%;
    height: 80px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-3);
}
.top_menu a {
    height: 40%;
}
.top_menu a img {
    width: 100%;
    height: 100%;
}
.fa-solid {
    font-size: 1.7rem;
    color: var(--text-color-1);
}

        /* hero styling */

.hero {
    background-color: var(--background-color-1);
    padding: var(--outer-padding);
    padding-top: 20px;
    padding-bottom: 0;
}
.hero .content > * {
    margin-bottom: 30px;
}
.hero h1 {
    color: var(--text-color-1);
    font-weight: 300;
}
.hero h1 span {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--font-family-4);
}
.hero button {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    background-color: var(--background-color-2);
    color: var(--text-color-4);
    border: none;
    padding: 20px 50px;
    margin: 30px 0;
}
.hero button:hover {
    cursor: pointer;
    background-color: var(--text-color-2);
}
.hero .cards_container h3 {
    font-family: var(--font-family-2);
    color: var(--text-color-2);
    font-size: 1.4rem;
    font-weight: 500;
}
.hero .cards_container .card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero .cards_container h3 span {
    color: var(--text-color-3);
    font-size: 3.5rem;
    font-weight: 600;
}
.hero .cards_container p {
    color: var(--text-color-2);
    font-style: italic;
}

        /* strengths styling */

.strengths {
    background-color: var(--background-color-2);
    color: var(--text-color-4);
    font-family: var(--font-family-2);
    padding: var(--outer-padding);
}
.strengths .cards_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.strengths h2 {
    padding-bottom: 50px;
    font-weight: 500;
    color: var(--text-color-3);
    font-size: 1.3rem;
}
.strengths h3 {
    padding-bottom: 20px;
    font-size: 1.3rem;
}

        /* about me styling */

.about_me {
    background-color: var(--background-color-1);
    padding: var(--outer-padding);
    font-family: var(--font-family-1);
}
.about_me h2 {
    color: var(--text-color-2);
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 1.3rem;
}
.about_me h3 {
    color: var(--text-color-1);
    font-family: var(--font-family-1);
    font-size: 3rem;
    font-weight: 500;
    margin: 30px 0;
}
.about_me > p {
    font-family: var(--font-family-1);
    color: var(--text-color-1);
    font-weight: 400;
    line-height: 2;
    margin: 30px 0;
}
.skills-card-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 30px 0;
}
.skills-card-list .card {
    background-color: var(--background-color-3);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
}
.skills-card-list .card img {
    width: 70px;
}
.skills-card-list .card h4 {
    color: var(--text-color-2);
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 1.2rem;
}
.skills-card-list .card a {
    color: var(--text-color-1);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--text-color-1);
}
.skills-card-list .card a:hover {
    color: var(--text-color-6-hover);
}
.about_me .lean_more_card {
    font-family: var(--font-family-2);
    background-color: var(--background-color-2);
    color: var(--text-color-4);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 30px;
}
.about_me button {
    border: 3px solid var(--text-color-4);
    background-color: var(--background-color-2);
    color: var(--text-color-4);
    font-size: 1.1rem;
    padding: 15px 35px;
    border-radius: 2px;
    margin: 15px 0;
}
.about_me button:hover {
    cursor: pointer;
    background-color: var(--text-color-4);
    color: var(--text-color-1);
}

        /* education stylign */

.education {
    background-color: var(--background-color-2);
    font-family: var(--font-family-1);
    color: var(--text-color-4);
    padding: var(--outer-padding);
}
.education > div > * {
    padding: 30px 0;
}
.education .card > * {
    padding: 10px 0;
}
.education h2 {
    font-family: var(--font-family-2);
    color: var(--text-color-3);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 15px 0;
}
.education h3 {
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 1.4rem;
}

        /* clients styling */

.clients {
    font-family: var(--font-family-2);
    background-color: var(--background-color-1);
    padding: var(--outer-padding);
    position: relative;
    z-index: 2;
}
.clients .background_color {
    background-color: var(--background-color-2);
    position: absolute;
    top: 0;
    bottom: 77%;
    left: 0;
    right: 0;
    z-index: 1;
}
.clients h2 {
    color: var(--text-color-4);
    font-size: 2rem;
    font-weight: 400;
}
.clients .client_cards {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.clients .card {
    background-color: var(--background-color-3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    margin: 1rem 0;
    max-width: 400px;
    z-index: 2;
}
.clients .card > img {
    width: 22%;
}
.clients .card .img_shaper {
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
}
.clients .card .client_img {
  height: 100%;
  object-fit: cover;
}
.clients .card > :nth-child(2) {
    color: var(--text-color-5);
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: 1.1rem;
}
.clients .card h3 {
    color: var(--text-color-5);
    font-weight: 700;
    font-size: 1.4rem;
}
.clients .card > :last-child {
    font-weight: 500;
}
.clients > p {
    font-family: var(--font-family-1);
    font-weight: 400;
} 
.clients > p {
    z-index: 2;
}

        /* my_works styling */

.my_works {
    background-color: var(--background-color-1);
    padding: var(--outer-padding);
    font-family: var(--font-family-2);
}
.my_works h2 {
    font-size: 2.8rem;
    font-weight: 500;
}
.my_works .work_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    margin: 25px 0;
}
.my_works .card {
    max-width: 380px;
    height: 380px;
    overflow: hidden;
    position: relative;
    color: var(--text-color-4);
}
.my_works .card > img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    filter: brightness(76%);
}
.my_works .card .transparent_background {
    position: absolute;
    bottom: 0;
    top: 60%;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.my_works .card p {
    font-weight: 500;
    font-size: 1.1rem;
}
.my_works .card h3 {
    font-weight: 500;
    font-size: 1.5rem;
}
.my_works > p {
    font-family: var(--font-family-1);
}

        /* contact styling */
.contact {
    background-color: var(--background-color-1);
    padding: var(--outer-padding);
}
.contact > :first-child {
    background-color: var(--background-color-2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem 1.5rem 4rem 1.5rem;
    color: var(--text-color-4);
    line-height: 2.2;
}
.contact h2 {
    font-family: var(--font-family-2);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}
.contact p {
    font-size: 1.3rem;
    font-weight: 400;
}
.contact a {
    font-family: var(--font-family-2);
    color: var(--text-color-3);
    text-decoration: none;
    font-size: 1.5rem;
}
.contact a:hover {
    color: var(--text-color-4);
}
.contact > :first-child > :last-child > :last-child {
    font-size: 1.3rem;
    border-bottom: 1px solid var(--text-color-3);
}
.contact > :last-child {
    font-family: var(--font-family-3);
    background-color: var(--background-color-3);
    padding: 3rem 1.5rem 3rem 1.5rem;
}
.contact > :last-child form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
.contact > :last-child form div {
    border-bottom: 3px solid rgba(128, 128, 128, 0.507);
}
.contact > :last-child form input, .contact > :last-child form textarea{
    border: none;
    width: 100%;
    font-size: 1.2rem;
}
.contact > :last-child form button {
    background-color: var(--text-color-3);
    border: none;
    padding: 15px 0;
    color: var(--text-color-4);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 3px;
}
.contact > :last-child form button:hover {
    cursor: pointer;
    background-color: var(--background-color-2);
}

        /* footer styling */

footer > :first-child {
    background-color: var(--background-color-2);
    color: var(--text-color-4);
    font-size: 0.9rem;
    padding: 2rem 1rem;
}
footer > :last-child {
    background-color: var(--background-color-4);
    color: var(--text-color-4);
    padding: 2rem 1rem;
}
footer p {
    text-align: center;
}
footer a {
    color: var(--text-color-3);
    text-decoration: none;
    border-bottom: 1px solid var(--text-color-3);
}

    /* Desktop adaptations */

@media (min-width: 1024px) {
    .top_menu {
        padding: 0 20%;
    }
    .top_menu .fa-solid {
        font-size: 2.2rem;
    }
    .top_menu a {
        height: 50%;
    }
    /* hero styling */
    .hero {
        display: flex;
        justify-content: space-around;
    }
    .hero .intruduction {
        margin-bottom: 2vw;
    }
    .hero .cards_container {
        display: flex;
        gap: min(60px, 4vw);
    }
    .hero .card {
        width: min(250px, 17vw);
    }
    .hero img {
        max-width: min(50vw, 70vh);
        align-self: end;
    }
    /* strengths styling */
    .strengths {
        padding: 5vw 12vw;
    }
    .strengths .cards_container {
        flex-direction: row;
        gap: 5rem;
        padding: 3vw;
    }
    .strengths h3 {
        font-size: 1.7rem;
    }
    /* about me styling */
    .about_me {
        padding: 5vw 12vw;
    }
    .about_me > p {
        width: min(1000px, 80%);
    }
    .about_me .skills-card-list {
        flex-direction: row;
        gap: 3vw;
        justify-content: space-between;
        margin: 4rem 0;
    }
    .skills-card-list .card {
        flex-grow: 1;
        flex-basis: 250px;
        justify-content: space-evenly;
        padding: 4rem 2vw;
    }
    .skills-card-list .card img {
        width: 25%;
    }
    .skills-card-list .card h4 {
        font-size: 1.4rem;
    }
    .skills-card-list .card a {
        font-size: 1rem;
    }
    .about_me .lean_more_card {
        font-size: 2rem;
    }
    /* education styling */
    .education {
        display: flex;
        gap: 15vw;
        padding: 5vw 12vw;
    }
    .education > div {
        max-width: 500px;
    }
    /* clients styling */
    .clients {
        padding: 5vw 12vw;
    }
    .clients .background_color {
        bottom: 50%;
    }
    .clients h2 {
        font-size: 3.5rem;
    }
    .clients .client_cards {
        flex-direction: row;
        gap: 3vw;
    }
    .clients .card {
        width: min(60vw, 340px);
        height: min(40vw, 500px);
        gap: 2vw;
        padding: 20px;
    }
    .clients .card > :first-child {
        width: 4vw;
    }
    /* my_works styling */
    .my_works {
        padding: 5vw 12vw;
    }
    .my_works h2 {
        font-size: 3.3rem;
    }
    .my_works .work_cards {
        row-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 18vw));
        /* grid-template-columns: min(360px, 27vw) min(360px, 27vw) min(360px, 27vw); */
    }
    .my_works .card {
        height: min(350px, 30vw);
    }
    /* contact styling */
    .contact {
        padding: 5vw 12vw;
        display: flex;
    }
    .contact > :first-child {
        flex-grow: 1;
    }
    .contact > :last-child {
        flex-grow: 2;
        padding: 7rem 6vw;
    }
    .contact h2 {
        font-size: 2.3rem;
    }
}